@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: rgb(152, 142, 142);
}
body{
    padding: 20px;
    background-color: black;
}
.admin-chats-section{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.profile-admin-left img{
    width: 25%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-right: 5px;
}
.profile-admin-left h2{
    color: #ffffff;
}
.profile-admin-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-admin-right ul{
    display: flex;
    flex-direction: row;

}
.profile-admin-right ul li{
   list-style: none;
   margin-left: 20px;
   
}
.profile-admin-right ul li i{
    background: gray;
    font-size: 15px;
    padding: 10px;
    border-radius: 50px;
    color: #ffffff;
    
}
.search-box{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
    height: 50px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 5px 15px;
}
.search-box input{
    width: 100%;
    height: 50px;
    background:none;
    border: none;
    font-size: 20px;
    padding-left: 10px;

    
}
.search-box i{
    color: #ffffff;
}
.green-chat-list{
    margin-top: 20px;
    display: flex;
    flex-direction:row ;


   

}
.video-plus{
    display: inline-block;
}
.video-plus i{
    color: #ffffff;
    padding: 10px;
    font-size: 25px;
    background-color: gray;
    border-radius:50%;
    margin-right: 10px;
    
}
.green-chat-logo{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}
.green-chat-logo img{
    width: 85%;
    border: 2px solid black;
    border-radius: 50%;
}
.green-chat-logo span{
    padding-top: 5px;
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.chat-list{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.chat-list-logo{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.chat-list-logo img{
    width: 20%;
    border: 2px solid black;
    border-radius: 50%;
}
.chat-name{
    margin-left: 10px;
}
.chat-name span{
    font-size: 15px;
    font-weight: 500;
    
}
.chat-name h6{
    font-size: 10px;
    margin-top: 8px;
    font-weight: 500;
}


